:root {
    --branco-primario: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-hover: #5ea4f9;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primario);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.primario {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    margin: 0 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-primario);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-hover);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-primario);
}

.botao_secundario:hover {
    background-color: transparent;
    border: 3px solid var(--branco-primario);
    color: var(--branco-primario);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 5em 5em;
    height: 100%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-primario);
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    padding-bottom: 1em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-primario);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-primario);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo {
    padding-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    padding-bottom: 3em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
    padding-bottom: 0.5em;
}

.lista__link a:hover {
    color: var(--botao-azul);
    text-decoration-line: underline;
}

.lista__link a:active {
    color: var(--cinza-secundario);
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column; 
    }

    .primario {
        margin: 0 0;
        padding: 1em;
        height: auto; 
    }
    
    .container__caixa {
        margin: 0;
        padding: 0;
        background-image: url('img/Background\ 1.png'); 
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center;
        padding-top: 300px; 
    }

    .container__secundario {
        display: flex;
    }

    .container__descricao {
        padding: 1em 0;
    }

    .container:nth-child(3) {
        display: flex;
        flex-direction: column-reverse;
    }

    .secundario {
        margin: 1em;
        text-align: center;
    }

    .secundario__imagem {
        width: 50%;
        align-items: center;
    }

    .descricao__titulo {
        font-size: 26px;
    }

    .dispositivos__lista {
        display: block;
    }

    .dispositivos {
        display: block;
        margin: 1em;
    }

    .dispositivos__titulo {
        font-size: 26px;
        text-align: center;
    }

    .lista__link {
        padding-bottom: 1em;
        font-size: 16px;
    }

    .lista__item {
        font-size: 24px;
    }

    .rodape__lista {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2em;
    }

    .rodape__texto {
        margin: 1em 0;
        color: var(--cinza-secundario);
        font-size: 12px;
        padding-bottom: 0.5em;
    }
    
    .rodape {
        margin: 1em;
    }
}



